.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loginButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
